.root
  justify-content center
  align-items center
  margin-top osize()

// Example stylesheet
.body
  padding osize()

.greeting
  color $PRIMARY // use a global variable from /styles/index.styl

.button
  width osize(xl)
  height osize(xl)
  margin osize()
  align-items center
  justify-content center

.increment
  background-color green

.decrement
  background-color red

.clear
  background-color orange
  width osize(xxl)

.label
  color white
  font-size osize(l)